{% extends "layouts/base.html" %}

{% block title %} Perfil del Usuario {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<body>
  <div id="profile-page" class="perfil-page">
    <div class="profile-container" id="profile-container">
      <div class="profile-content">
        <button id="edit-profile-btn" class="material-icons">edit</button>

        <div class="profile-info">
          <img class="profile-pic" src="/static/css/images/perfil.jpg" alt="Avatar">
          <div class="profile-info-details">
            <br>
            <h4>{{ perfil_usuario.p_nombre }}</h4>
            <p>{{ perfil_usuario.user.username }}</p>
          </div>
        </div>
      </div>
      <div>
        <div class="parent-container" data-simplebar id="parent-container">
          <form class="form-editor-profile">
            {% if tipo_usuario == 'profesor' %}
            <div>
              <label>Nombres</label>
              <input type="text" value="{{ perfil_usuario.p_nombre }}">
            </div>
            {% if perfil_usuario.s_nombre %}
            <div>
              <label>Segundo Nombre</label>
              <input type="text" value="{{ perfil_usuario.s_nombre }}">
            </div>
            {% endif %}
            <div>
              <label>Apellido Paterno</label>
              <input type="text" value="{{ perfil_usuario.apellido_pat }}">
            </div>
            <div>
              <label>Apellido Materno</label>
              <input type="text" value="{{ perfil_usuario.apellido_mat }}">
            </div>
            <div>
              <label>Correo</label>
              <input type="email" value="{{ perfil_usuario.correo }}">
            </div>
            <div>
              <label>Celular</label>
              <input type="text" value="{{ perfil_usuario.celular }}">
            </div>
            
            <div>
              <label class="nombre_prof">Profesor</label>
            </div>
            {% elif tipo_usuario == 'alumno' %}
            <div>
              <label>Nombre de Usuario</label>
              <input type="text" value="{{ perfil_usuario.user.username }}">
            </div>
            <div>
              <label>Primer Nombre</label>
              <input type="text" value="{{ perfil_usuario.p_nombre }}">
            </div>
            {% if perfil_usuario.s_nombre %}
            <div>
              <label>Segundo Nombre</label>
              <input type="text" value="{{ perfil_usuario.s_nombre }}">
            </div>
            {% endif %}
            <div>
              <label>Apellido Paterno</label>
              <input type="text" value="{{ perfil_usuario.apellido_pat }}">
            </div>
            <div>
              <label>Apellido Materno</label>
              <input type="text" value="{{ perfil_usuario.apellido_mat }}">
            </div>
            <div>
              <label>Fecha de Ingreso</label>
              <input type="date" value="{{ perfil_usuario.fecha_ingreso }}">
            </div>
            <div>
              <label>Dirección</label>
              <input type="text" value="{{ perfil_usuario.direccion }}">
            </div>
            <div>
              <label>Numero Apoderado</label>
              <input type="text" value="{{ perfil_usuario.numero_apoderado }}">
            </div>
            <div>
              <label class="nombre_prof">Alumno</label>
            </div>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}