{% extends "layouts/base.html" %}

{% block title %} Page User {% endblock %} 

<!-- agregar css -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- seccion.html -->
<div class="alumnos-page">
    <div class="seccion-container">
        {% for grupo, años in grupos.items %}
        <div class="seccion-card" data-simplebar>
            <button id="resetBtn2" style="display: none;"><span class="material-symbols-outlined">close</span></button>
            <h2>{{ grupo }}</h2>
            {% if años %}
            <ul class="cursos-list">
                {% for año in años %}
                <li class="curso-item">
                    <a href="asignaturas.html" style="text-decoration: none; color: inherit; cursor: pointer;">
                    <div class="curso-header" onclick="toggleDetails(this)">
                        {{ año }}
                    </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No hay cursos disponibles para este grupo.</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>








{% endblock content %}

<!-- agregar js -->
{% block javascripts %}

{% endblock javascripts %}